body {
    /***
      ADD YOUR CUSTOM STYLIING HERE. (INSIDE THE body {...} section.)
      IT WILL TAKE PRECEDENCE OVER THE STYLING IN THE STYLE.CSS FILE.
   ***/
   
    table {
        width: 100%;
    }
    th {
        text-align: left;
        border-bottom: 2px solid #FFFFFF;
    }
    * {
         font-family: 'CMU Serif Bold' !important;
    }
}
